<div class="row fade-in-up" style="padding: 1%" > 
    <form  name="CadTel" method="POST" id="CadTel"  class="col s12 white z-depth-2">
      <div class="row"><h5>Lancamento OS {{OS.placa}}</h5><div class="divider"></div><br>
         
          
        <div class=" col l3 s12">       
          <label class=" black-text" for="unidade" >Unidade</label>
          <select id="unidade" ng-model="OS.unidade" ng-change="filtroVeiculo();"  class=" browser-default" required >    
              <option value ="">Selecione uma opção</option>
              <option ng-repeat="unidade in unidades" 
                      value ="{{unidade.UNI_IN_CODIGO}}">{{unidade.UNI_ST_DESCRICAO}}</option>
        </select>
        </div>
        <div class=" col l3 s12">       
          <label class=" black-text" for="veiculo" >Veiculo</label>
          <select id="veiculo" ng-model="OS.placa" ng-change="dadosVeiculo();" class=" browser-default" required >    
              <option value ="">Selecione uma opção</option>
              <option ng-repeat="veiculo in veiculos" 
                      value ="{{veiculo.VEI_IN_CODIGO}}">{{veiculo.VEI_ST_PLACA}}</option>
        </select>
        </div>
        <div class=" col l3 s12">       
          <label class=" black-text" for="marca" >Marca</label>
          <select id="marca" disabled ng-model="OS.marca" ng-change="atualizaCampos();" class=" browser-default" required >    
              <option value ="">Exibe marca aqui</option>
              <option ng-repeat="marca in marcas" 
                      value ="{{marca.MAR_IN_CODIGO}}">{{marca.MAR_ST_NOME}}</option>
        </select>
        </div>

        <div class=" col l3 s12">       
          <label class=" black-text" for="marca" >Modelo</label>
          <select id="modelo" disabled ng-model="OS.modelo" ng-change="atualizaCampos();" class=" browser-default" required >    
              <option value ="">Exibe modelo aqui</option>
              <option ng-repeat="modelo in modelos" 
                      value ="{{modelo.MOD_VEI_IN_CODIGO}}">{{modelo.MOD_VEI_ST_DESCRICAO}}</option>
        </select>
        </div>       

        <div class="input-field col l3 s12">     
          <input placeholder="KM" ng-model="OS.km" type="tel" id="empresa" class="validate" autocomplete="off">
          <label class=" black-text"   for="empresa">KM</label>
        </div> 
          
        <div class="input-field col l3 s12">
          <input placeholder="Data" ng-model="OS.data" id="data" type="date" class="datepicker" autocomplete="off">
          <label class=" black-text" for="data">Data</label>
        </div>
          <div class="input-field col l6 s12"> 
                 <textarea placeholder="Observação" ng-model="OS.obs" id="textarea1" class="materialize-textarea" length="120"></textarea>
            <label for="textarea1">Obs</label>
        </div>


          
          
      </div>
  
      <div class="row"><h5>Itens da OS {{cliente.nome}}</h5><div class="divider"></div><br> 
          
    <div class="row" >
    
        <div class=" col l3 s12">
       
          <label class=" black-text" for="midia" >Produto</label>
              <select id="midia"  ng-model="produto.nome"  class=" browser-default" >        

              <option value ="">Selecione uma opção</option>              
              <option ng-repeat="iten in itens" value ="{{iten.PRO_IN_CODIGO}}"  >{{iten.PRO_ST_DESCRICAO}}</option>

              
      </select>
      
      </div>
      <div class="input-field col l3 s12">
          <input placeholder="Valor" ng-model="produto.valor" id="valor" type="tel" class="validate" autocomplete="off">
          <label class=" black-text" for="valor">Valor</label>
      </div>
      <div class="input-field col l3 s12">
          <a ng-click="addProduto(produto)" class="waves-effect deep-purple waves-light btn">Adicionar</a>
      </div>
        <table class=" highlight" >
              <tr>
                <td>Produto</td>
                <td>Valor</td> 

              </tr>
              <tr ng-repeat="produtob in produtos">
                <td>{{produtob.nome}}</td>
                <td>{{produtob.valor | currency :"R$"}}</td>     
              </tr>
            </table>
           
        
      
          
    </div>
          
          
  <!-- Modal Structure -->
  <div id="cadAlerta" class="modal white">
    <div class="modal-content">
      <h4>{{titulo_modal}}</h4>
        <li class="divider"></li>
      <p>{{msg}}</p>
    </div>
    <div class="modal-footer deep-purple">
        <a class=" modal-action modal-close waves-effect waves-green white-text btn-flat">Completar cadastro</a>
      <a class=" modal-action modal-close waves-effect waves-green white-text btn-flat">Novo cadastro</a>
    </div>
  </div>      
        
    </form>  
   
    <button ng-click="cadastroCliente()" class="btn-large  waves-effect deep-purple waves-light col s12 l12"  name="action">
    Salvar
  </button>
    </div>


    
    
  

